* {
    box-sizing: border-box;
  }

.column {
    float: left;
    padding: 10px;
  }
 
  .left {
    width: 40%;
    background-color:#bbb;
    text-align: right;
  }
  
  .right {
    width: 60%;
    background-color:#aaa;
    text-align: left;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
